extends layout

block content
  .page-header
    h1
      | Transcript for #{fileName}
      small
  .well
    audio(controls='')
      source(src='/audio/' +fileName, type='audio/ogg')
      | Your browser does not support the audio element.
  p Text:
  pre.jsonBlock #{text}
  p JSON:
  pre.jsonBlock #{json}
  p.col-md-6 SRT:
    a(href='/srt/'+fileName+'.srt', download='')
      |  Download
  p.col-md-6 WebVTT:
    a(href='/vtt/'+fileName+'.vtt', download='')
      |  Download
  pre.col-md-6.jsonBlock #{srt}
  pre.col-md-6.jsonBlock #{vtt}
